<div>
  <select name="type" [(ngModel)]="type">
    <option value="">Chose column type</option>
    <option name="type" *ngFor="let option of optionsDB">{{option}}</option>
  </select>
  <input name="name" type="text" [(ngModel)]="name" placeholder="Column name">
  <input name="valueFrom" type="text" [(ngModel)]="fromValue" placeholder="Value from (numeric)">
  <input name="valueTo" type="text" [(ngModel)]="toValue" placeholder="Value to (numeric)">
  <input name="values" type="text" [(ngModel)]="values" placeholder="Text values (use ';' as delimiter)">
  <input type="checkbox" id="primaryKey" name="primaryKey" [(ngModel)]="isPrimaryKey">
  <label for="primaryKey">Primary key </label>
  <button *ngIf="isLast" (click)="addFormLine()">+</button>
</div>

